:root {
    --flickr-pink: #f72585ff;
    --byzantine: #b5179eff;
    --purple: #7209b7ff;
    --purple-2: #560badff;
    --trypan-blue: #480ca8ff;
    --trypan-blue-2: #3a0ca3ff;
    --persian-blue: #3f37c9ff;
    --ultramarine-blue: #4361eeff;
    --dodger-blue: #4895efff;
    --vivid-sky-blue: #4cc9f0ff;
    --white: #ffffff;
    --black: #000;
    --dark-grey: #201f21;
}



body {
    background-color: var(--purple-2);
}


/* Glassmorfism */

/* background: rgb(255 245 245 / 10%);
box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border: 1px solid rgba( 255, 255, 255, 0.18 ); */

/* Navigation */

nav {
    background-color: var(--dark-grey);
}

.nav-wrapper {
    padding: 0 10px;
}

.nav-logo {
    height: 25px;
}

.logo-mobile {
    margin-top: 15px;
    margin-left: 5px;
}

.sidenav {
    background: rgb(255 245 245 / 10%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(20.0px);
    -webkit-backdrop-filter: blur(20.0px);
    border-right: 1px solid rgba(255, 255, 255, 0.10);
    display: flex;
    flex-direction: column;
}

.sidenav li.active {
    background-color: rgb(255 255 255 / 10%);
}

.sidenav li > a {
    color: var(--white);
    font-size: 20px;
}

.sidenav li > a > i {
    margin-right: 0px;
    color: var(--white);
    width: 30px;
}

.sidenav > :last-child {
    margin-top: auto;
    margin-bottom: 15px;
  }

.fa-pen, .fa-door-open {
    font-size: 17px;
}

.fa-search {
    font-size: 19px;
}




