{% extends "base.html" %}
{% block content %}

<h3>Welcome to Fitness Exercise development</h3>
<h5>You custom fitness program web app</h5>

<div class="main-card">
    <div class="slider-forms z-depth-2 {% if error_register %} slide-active {% endif %}">
        <div class="left-area">
            <h5>Create your account</h5>
            <button class="btn btn-create">Register</button>
        </div>
        <div class="right-area">
            <h5>Have an account?</h5>
            <button class="btn btn-account">Sign in</button>
        </div>
        <div class="forms">
            <div class="form-login {% if error_register %} hidden-form {% endif %}">
                <h5>Log In</h5>
                <div class="row">
                    <form class="col s12" method="POST" action="{{ url_for('login') }}">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="login-email" type="email" name="email" class="validate" minlength="10" maxlength="30" 
                                 required>
                                <label for="login-email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="lpassword" type="password" name="password" class="validate" minlength="6" maxlength="20"
                                required>
                                <label for="lpassword">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center-align">
                                <button type="submit" class="btn btn-login">Log In</button>
                            </div>
                        </div>
                    </form>
                </div>
                {% if error_login %}
                <div class="error-login">
                    <p class="error-message">{{error_login}}</p>
                </div>
                {% endif %}
            </div>
            <div class="form-register {% if error_register is defined %} {% else %} hidden-form {% endif %} ">
                <h5>Register</h5>
                <div class="row form-margin">
                    <form class="col s12" method="POST" action="{{ url_for('register') }}">
                        <div class="row input-margim">
                            <div class="input-field col s12">
                                <input id="username" name="username" type="text" class="validate" minlength="3"
                                maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" required>
                                <label for="username">Name</label>
                            </div>
                        </div>
                        <div class="row input-margim">
                            <div class="input-field col s12">
                                <input id="email" type="email" name="email" class="validate" minlength="10" maxlength="50" 
                                required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row input-margim">
                            <div class="input-field col s12">
                                <input id="dob" name="dob" type="text" class="datepicker validate" required>
                                <label for="dob">Date of Birthday</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" name="password" type="password" class="validate" minlength="8" maxlength="20"
                                 required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center-align">
                                <button type="submit" class="btn btn-register">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
                {% if error_register %}
                <div class="error-register">
                    <p class="error-message">{{error_register}}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}